.e-base2 { 
width: 100%;
height: 10px; 
background: rgba(var(--lgray));
border-radius: 10px; 
margin-top: 10px;
} 

.e-bar2, .e-bar3 { 
display: block;
height: 10px; 
border-radius: 10px; 
} 

.e-bar2 { 
  background:linear-gradient(to right, rgba(var(--group2), 0.5), rgba(var(--group2), 1));
} 

#phases .e-bar3 { 
  
  background:linear-gradient(to right, rgba(var(--enemy1), 0.1), rgba(var(--enemy1), 0.7));
} 


.e-bar2::after { 
position: relative; 
top:10px; 
left: 260px;
font-size: 30px; 
text-transform: capitalize;
color:rgba(var(--group1));
text-shadow: 1px -2px rgba(var(--lgray));
} 

.e-bar3::before { 
position: relative; 
top:10px; 
font-size: 20px; 
text-transform: capitalize;
color:rgba(var(--enemy1), 0.8);
text-shadow: 1px -2px rgba(var(--lgray));
display: block; 
width: 100px; 
} 


#health .e-bar2::after { 
  content: 'Banshee';
  font-family: 'Magic Retro'; 
  
}

.e-base3 { 
width: 31.6%;
height: 10px; 
background: rgba(var(--lgray));
border-radius: 10px; 
margin-top: 10px;
float: left; 
} 

#phase1 .e-bar3::before { 
  content: 'trap';
   font-family: 'Magic Retro'; 
}

#phase2 .e-bar3::before { 
  content: 'Terror';
  font-family: 'Magic Retro'; 
}

#phase3 .e-bar3::before { 
  content: 'Scream';
  font-family: 'Magic Retro'; 
  
}

/*health bar color*/ 

#ten, #fifteen, #twenty, #twenty-five, #thirty, #thirty-five.e-bar2  { 
    background:linear-gradient(to right, rgba(var(--low), 0.2), rgba(var(--low), 0.6));
} 

#forty, #forty-five, #fifty, #fifty-five, #sixty, #sixty-five.e-bar2 { 
    background:linear-gradient(to right, rgba(var(--mid), 0.2), rgba(var(--mid), 0.6));
} 

#seventy, #seventy-five, #eighty, #eighty-five, #ninty, #ninety-five, #one-hundred.e-bar2  { 
    background:linear-gradient(to right, rgba(var(--high), 0.2), rgba(var(--high), 0.6));
} 



/*colors*/ 

#phases {
--enemy1: 175,44,44;
}


#health {
--high: 56,175,61;
--mid: 217,164,21;
--low: 175,44,44;
}

/*percentages*/ 

#zero { 
width: 0%; 
} 

#five { 
width: 5%; 
} 

#ten { 
width: 10%; 
} 

#fifteen { 
width: 15%; 
} 

#twenty { 
width: 20%; 
} 


#twenty-five { 
width: 25%; 
} 

#thirty { 
width: 30%; 
} 

#thirty-five { 
width: 35%; 
} 


#forty { 
width: 40%; 
} 

#forty-five { 
width: 45%; 
} 

#fifty { 
width: 50%; 
} 

#fifty-five { 
width: 55%; 
} 

#sixty { 
width: 60%; 
} 

#sixty-five { 
width: 65%; 
} 

#seventy { 
width: 70%; 
} 

#seventy-five { 
width: 75%; 
} 

#eighty { 
width: 80%; 
} 

#eighty-five { 
width: 85%; 
} 

#ninety { 
width: 90%; 
} 

#ninety-five { 
width: 95%; 
} 
#one-hundred { 
width: 100%; 
} 
