@import "//christieclee.github.io/highalo/high/high.css";  


.devour-wrapper {
    --white: 255, 255, 253;
    --shadow: 187, 187, 187;
    --background: 247, 247, 247;
    --black: 63, 63, 63;
      width: 450px;
   background:rgba(var(--background), 0.7);
      min-height: 200px;
      font-family: 'Nunito', Sans-serif;
      position: relative; 
      margin: 30px auto;
      display: inline-block;
      box-shadow: 1px -3px 10px  rgba(205, 205, 205, 0.4);
      border: 1px solid rgba(var(--shadow), 0.4);
       -webkit-text-size-adjust: none;
       overflow: hidden; 
    
}

.devour-wrapper i { 
    font-weight: 700;
    opacity: 0.9;
} 

    .devour-wrapper a { 
  text-decoration: none;
  color: rgba(var(--hmain), 1);

    } 

.devour-head { 
  position: absolute; 
  z-index: 5;
  height: 90px;
  left: 0px; 
  top: 0px; 
  width: 100%; 
  background: linear-gradient(
      90deg,
      rgba(var(--haccent), 0.1),
      rgba(var(--hmain), 0.1) 50%
    );
  padding: 0px 0px 20px; 

} 

.devour-icon { 
   position: absolute;
   left: 25px;
   top: px;
} 

.devour-icon span { 
background-image:   linear-gradient(
      180deg,
      rgba(var(--hmain), 0.2),
      rgba(var(--haccent), 0.2) 80%
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
font-size:78px; 
/*color:rgba(var(--hmain), 0.1);*/
text-transform: uppercase; 
position: relative;
top:15px; 

z-index: 5; 
} 

.devour-month { 
  font: 18px 'Nunito', sans-serif; 
  color: rgba(var(--haccent), 0.6);
  position: absolute; 
  top: 55px; 
  left: 60px; 
  text-align: right; 
  width:20%; 
  line-height: 19px;
   font-weight: 400; 

} 

.d-month { 
  font-size: 25px; 
  color: rgba(var(--hmain), 0.6);
  font-weight: 700; 
     letter-spacing: 0.75px;
} 

.devour-wrapper hr#hrtop { 
  border: 0px; 
border-bottom: 1px solid rgba(var(--haccent));
  position: relative; 
  top: 70px; 
  z-index: 3;
  opacity:0.5;
  width: 300px; 
  left: 90px; 
  
} 


.devour-wrapper hr#hrbottom { 
  border: 0px; 
  border-bottom: 1px solid rgba(var(--hmain));
  position: absolute; 
  bottom:55px; 
  z-index: 3;
  opacity:0.5;
width: 100px; 
right: 0px; 


} 

.devour-text { 
  font-size: 15.5px; 
  min-height: 50px; 
 margin:  100px 20px 0px;   
 padding: 50px 50px 30px;
 text-align: justify;
  line-height:25px;
  color:rgba(var(--black), 1); 
} 

.devour-text b { 
  font-weight: 700;
  color: rgba(var(--hmain), 0.8);
} 


.devour-text u { 
     font-style: italic;
     text-decoration: none;
      color: rgba(var(--haccent), 0.8);
     border-bottom: 1px solid rgba(var(--hmain), 0.8);
        font-weight: 600; 
    } 
    
    .devour-tag { 
        font-size: 12px; 
  min-height: 40px;   
 padding: 0px 0px 30px 0px;   
 text-align: right;
  line-height:5px;
  color:rgba(var(--black), 0.7); 
  position: relative; 
  left: -25px; 
top: 0px;
width: 60%;
    } 
    
     .devour-tag a { 
  font: 12px 'Nunito', sans-serif;
  text-decoration: none;
  color: rgba(var(--haccent), 0.7);
  text-transform: ;
  font-weight: 700;

    } 
    
         .devour-tag a:after { 
      content: '.';
      color: rgba(var(--haccent), 0.7);
      margin-right: 2px;

    }   
    

#db { 
  --hmain: 68, 126, 128;
--haccent: 196, 136, 88; 

  } 

#dh { 
--hmain: 94, 110, 130; 
--haccent: 175, 156, 158;
} 


  #lb { 
--hmain: 143, 61, 65; 
--haccent:115, 136, 149;

} 


#mj { 
--hmain: 195, 120, 85;
--haccent: 137, 185, 177;
} 
  
 #pk { 
--hmain: 153, 97, 120;
--haccent: 165, 163, 184;

} 


 #ya { 
 --hmain: 183, 65, 45; 
--haccent:218, 155, 99;
} 

  #fb {
--hmain: 209, 149, 123;
--haccent: 138, 147, 119;
} 


#rp {
  --hmain: 98, 117, 89;
  --haccent: 192, 125, 142;
}


#es { 
 --hmain: 74, 97, 110;
--haccent: 191, 166, 125;
  }

#jl {
--hmain: 132, 148, 148;
--haccent: 187, 153, 153;
}

#kb {
--haccent: 195, 143, 61;
--hmain: 86, 132, 105;
}
