  #db { 
--hmain: 68, 126, 128;
--haccent: 196, 136, 88; 
  } 

#dh { 
--hmain: 94, 110, 130; 
--haccent: 175, 156, 158;
} 

#es { 
 --hmain: 74, 97, 110;
--haccent: 191, 166, 125;
  }
  
  #jl {
--hmain: 132, 148, 148;
--haccent: 187, 153, 153;
}

#kb {
--haccent: 195, 143, 61;
--hmain: 86, 132, 105;
}

  #lb { 
--hmain: 143, 61, 65; 
--haccent:115, 136, 149;
} 


#mj { 
--hmain: 195, 120, 85;
--haccent: 137, 185, 177;
} 
  
 #pk { 
--hmain: 153, 97, 120;
--haccent: 165, 163, 184;
} 

#rc {
--hmain: 119, 67, 92;
--haccent: 200, 134, 97;
}

  #rl {
--haccent: 185, 195, 163;
--hmain: 145, 145, 162; 
} 

#rp {
  --hmain: 98, 117, 89;
  --haccent: 192, 125, 142;
}

  #ti {
--hmain: 109, 157, 194;
--haccent: 105, 164, 138;
}

#td {
--hmain: 131, 31, 39;
--haccent: 101, 113, 91;
}


 #ya { 
 --hmain: 183, 65, 45; 
--haccent:218, 155, 99;
} 

#wm { 
  --hmain:133, 160, 82;
--haccent: 224, 146, 33; 
} 
