
@import "//christieclee.github.io/highalo/high/high.css";  
.omg-wrapper { 
    --gray: 74, 74, 74;
    --shadow: 187, 187, 187;
    --background: 239, 239, 239;
    --black: 63, 63, 63;
      width: 550px;
      min-height: 100px;
      font-family: 'Quicksand', Sans-serif;
      position: relative; 
      margin: 0px auto;
       -webkit-text-size-adjust: none;
      padding: 0px 0px; 
    /*to delete
      box-shadow: 1px -3px 10px  rgba(205, 205, 205, 0.4);
      border: 1px solid rgba(var(--shadow), 0.4);*/ 

} 

.omg-gradient { 
  background: linear-gradient(
      -180deg,
      rgba(var(--shadow), 0.2),
      rgba(var(--background), 0.1) 40%
    );
padding: 10px 20px; 
} 

.omg-topper { 
  display: inline-block; 
position: relative; 
  height: 140px; 
  width: 100%; 
  right: 20px; 
  
} 
.omg-accent { 
  position: absolute; 
  right: 110px; 
} 
.omg-circle1 { 
width: 90px;
height: 90px; 
border: 1px solid rgba(var(--hmain), 0.8);
border-radius: 100px; 
transform: skew(50deg, 0deg);
position: absolute;
} 
.omg-circle2 { 
width: 90px;
height: 90px; 
border: 1px solid rgba(var(--haccent), 0.8);
border-radius: 100px; 
transform: skew(40deg, 0deg);
position: absolute; 
z-index: 3;
} 
  
.omg-sparkle::before { 
  content: '\a137';
  font-family: 'Starry';
  color: rgba(var(--gray));
} 

 .a { 
  position: relative; 
  top: 12px;
  right: 10px; 
   z-index: 4;
  font-size: 20px;
} 


 .b { 
    position: relative; 
     left: 80px; 
  top:80px;
     z-index: 4;
     font-size: 20px;
} 

 .c { 
    position: absolute; 
      z-index: 4;
    font-size: 12px;
    left: -10px; 
    top: 5px; 
} 
.omg-date { 
 font-weight: 700;
 color: rgba(var(--hmain));
 position: absolute; 
 top: 40px; 
 right: -70px;
  z-index: 4;
text-align: right;
 text-transform: lowercase; 
 font-size: 18px; 
} 
  
.omg-year { 
  color: rgba(var(--haccent));
} 
  
.omg-text { 
position: relative; 
font-size: 15px; 
text-align: left; 
padding: 0px 30px;
width: 380px; 
color:rgba(var(--black), 0.9); 
line-height: 25px;
text-align: justify;

} 
  
  .omg-text b { 
  font-weight: 700;
  color: rgba(var(--hmain), 0.8);
} 

  .omg-text i { 
  font-style: italic;
  color: rgba(var(--hmain), 0.8);
} 


.omg-text u { 
     font-style: italic;
     text-decoration: none;
      color: rgba(var(--haccent), 0.8);
     border-bottom: 1px solid rgba(var(--hmain), 0.8);
        font-weight: 600; 
    } 
    
    .omg-text a { 
    text-decoration: none;
    color: rgba(var(--hmain), 0.5);
    font-weight: 600; 
    } 
    
    
.omg-bottom { 
display: inline-block; 
position: relative; 
  height: 90px; 
  width: 100%; 
margin-top: 40px; 

}   

.hicon { 
  left: 20px; 
  top:0px; 
} 

.bottom1 { 
  width: 40px; 
  height: 40px; 
  transform: skew(-50deg, 10deg);
    position: absolute; 
  top:5px;
} 

.bottom2 { 
    width:40px; 
  height: 40px; 
  transform: skew(-40deg, 0deg);
} 
.omg-icon { 
  font-size: 45px; 
  position: absolute;
  top: 16px;
  left: 10px; 
  color: rgba(var(--hmain));
  background-color: rgba(var(--background));
  width: 40px; 
  height: 40px; 
  z-index: 5;
opacity: 0.8;

} 
.bottom-tag { 
  position: absolute; 
  top: 30px; 
  left: 90px; 
  font-size: 13px; 
  text-align: left; 
} 
.bottom-tag a { 
  font-weight:600;
  text-transform: lowercase; 
  text-decoration: none; 
  font-size: 13px; 
  color:rgba(var(--hmain));
  
} 


.bottom-tag a::before { 
  content: '#';
    color:rgba(var(--haccent));
} 

  #db { 
    

  --hmain: 68, 126, 128;
--haccent: 196, 136, 88; 

  } 

#dh { 
--hmain: 94, 110, 130; 
--haccent: 175, 156, 158;
} 


  #lb { 
--hmain: 143, 61, 65; 
--haccent:115, 136, 149;

} 


#mj { 
--hmain: 195, 120, 85;
--haccent: 137, 185, 177;
} 
  
 #pk { 
--hmain: 153, 97, 120;
--haccent: 165, 163, 184;

} 


 #ya { 
 --hmain: 183, 65, 45; 
--haccent:218, 155, 99;
} 

  #fb {
--hmain: 209, 149, 123;
--haccent: 138, 147, 119;
} 


#rp {
  --hmain: 98, 117, 89;
  --haccent: 192, 125, 142;
}


#es { 
 --hmain: 74, 97, 110;
--haccent: 191, 166, 125;
  }

#jl {
--hmain: 132, 148, 148;
--haccent: 187, 153, 153;
}

#kb {
--haccent: 195, 143, 61;
--hmain: 86, 132, 105;
}

#td {
--hmain: 131, 31, 39;
--haccent: 101, 113, 91;
}

#rc {
--hmain: 119, 67, 92;
--haccent: 200, 134, 97;
}
