.high-tracker #caught { 
  opacity:0.8; 
  position: relative;
} 
.high-tracker { 
  z-index: 3;
} 

.high-tracker #caught:before { 
  content: '\ec17';
  font-family:'cappuccicons';
  float: left;
  position: relative; 
  top: 20px;
  left: 20px;
  font-size: 30px;
  color: #d31c1c;
  opacity: 0.7;
  transform: rotate(40deg);
} 
