
.butternut-post bar { 
display: block;
width: 100%;
margin-top: 20px; 
} 

.butternut-post .p-base { 
width: 100%;
height: 10px; 
background:var(--light-rgb);
border-radius: 10px; 
margin-top: 10px;
} 


.bar-icon::before { 
content:var(--bar-unicode);
font-family:'starry';
font-size: 30px; 
background:-webkit-linear-gradient(var(--group1), var(--group2));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
position: relative; 
bottom: -10px; 
z-index: 5; 
line-height: 0px !important; 
} 



.p-bar { 
display: block;
height: 10px; 
background:-webkit-linear-gradient(var(--group1), var(--group2));
border-radius: 10px; 
} 

.p-bar::after { 
  content: 'Progress';
  font-family: nunito; 
  font-weight:700;
position: relative; 
top:10px; 
left: 260px;
font-size: 16px; 
text-transform: uppercase; 
color:var(--light);
text-shadow: 2px 2px var(--light-rgb);
font-style: italic;

} 

#gryffindor {
--bar-unicode:'\a2';
}

#ravenclaw {
--bar-unicode:'\a23';
}

#hufflepuff  {
--bar-unicode:'\a19';
}

#slytherin {
--bar-unicode:'\a8';
}

/*percentages*/ 

#zero { 
content:var(--bar-unicode);
width: 5%; 
} 

.bar-icon#zero { 
margin-left: 0px; 
} 

#twenty { 
content:var(--bar-unicode);
width: 20%; 
} 

.bar-icon#twenty { 
margin-left: 50px; 
} 


#forty { 
content:var(--bar-unicode);
width: 40%; 
} 

.bar-icon#forty { 
margin-left: 120px; 
} 

#fifty { 
content:var(--bar-unicode);
width: 50%; 
} 

.bar-icon#fifty { 
margin-left: 150px; 
} 

#sixty { 
content:var(--bar-unicode);
width: 60%; 
} 

.bar-icon#sixty { 
margin-left: 190px; 
} 

#eighty { 
content:var(--bar-unicode);
width: 80%; 
} 

.bar-icon#eighty { 
margin-left: 260px; 
} 


#one-hundred { 
content:var(--bar-unicode);
width: 100%; 
} 

.bar-icon#one-hundred { 
margin-left: 330px; 
} 
