/*colors*/ 
  
   
  #db {
  --hmain: 68, 126, 128;
--haccent: 196, 136, 88; 
--bg-image: url(https://i.postimg.cc/L6cSjVQV/darius3.png);
}

  #db  .yew-image2 { 
    background-size: cover;
     background-position: -100px 0px;
} 

#dh { 
--hmain: 94, 110, 130; 
--haccent: 175, 156, 158;
--bg-image: url(https://i.postimg.cc/cLfSh8VG/dom.png);
} 
  #dh   .yew-image2 { 
    background-size:280%;
     background-position: -120px -0px;
      transform: scaleX(-1);
} 

#es { 
 --hmain: 74, 97, 110;
--haccent: 191, 166, 125;
--bg-image: url(https://i.postimg.cc/9fVjnQhR/ellis2.png);
  }
  
  #es   .yew-image2 { 
    background-size:280%;
     background-position: -50px -40px;
} 

  #fb {
--hmain: 183, 123, 98;
--haccent: 138, 147, 119;
--bg-image: url(https://64.media.tumblr.com/1a4f82c2a088bf99f80c32a43dfddd4f/tumblr_pb2d5kQB8C1vuopd7o1_1280.png);
} 

#fb   .yew-image2 { 
    background-size:550%;
     background-position: -130px -0px;
     border-radius: 10px; 
  
} 

#jl {
--hmain: 132, 148, 148;
--haccent: 187, 153, 153;
--bg-image: url(https://i.postimg.cc/SKrpFbSZ/june4.png);
}

  #jl   .yew-image2 { 
    background-size:330%;
     background-position: -120px 0px;
     border-radius: 10px; 

} 

#kb {
--haccent: 195, 143, 61;
--hmain: 86, 132, 105;
--bg-image: url(https://cdn.discordapp.com/attachments/1064796611374493799/1065169488611389460/khalil.png);
}


  #kb   .yew-image2 { 
    background-size:250%;
     background-position: -40px -0px;
     border-radius: 10px; 
  
} 

  #lb { 
--hmain: 143, 61, 65; 
--haccent:115, 136, 149;
--bg-image: url(https://i.postimg.cc/2ygsFzG5/leonbig.png);
} 
  #lb   .yew-image2 { 
    background-size:320%;
     background-position: -85px -30px;
     border-radius: 10px; 
  
} 

 #mj { 
--hmain: 195, 120, 85;
--haccent: 137, 185, 177;
--bg-image: url(https://i.postimg.cc/50s1vdDH/marko.png);
} 
  #mj   .yew-image2 { 
    background-size:280%;
     background-position: -130px -0px;
     border-radius: 10px; 
  
} 

 #pk { 
--hmain: 153, 97, 120;
--haccent: 165, 163, 184;
--bg-image: url(https://cdn.discordapp.com/attachments/1064796611374493799/1065171718534090752/paris.png);
} 
  #pk   .yew-image2 { 
    background-size:260%;
     background-position: -90px -0px;
     border-radius: 10px; 
} 

  #rc { 
    --hmain: 119, 67, 92;
--haccent: 200, 134, 97;
--bg-image: url(https://i.postimg.cc/kMZPdcCd/ravi.png);
} 

#rc   .yew-image2 { 
    background-size:308%;
     background-position: -160px 0px;
      transform: scaleX(-1);
  background-repeat:no-repeat;
} 

#rl {
--haccent: 185, 195, 163;
--hmain: 145, 145, 162;
--bg-image: url(https://i.postimg.cc/W1cRd1tW/remy4.png);
}

#rl   .yew-image2 { 
    background-size:245px;
     background-position: -40px 0px;
     border-radius: 10px; 

}

#rp   .yew-image2 { 
    background-size: 400%;
     background-position: -190px 0px;
     border-radius: 10px; 

}

#td {
--hmain: 131, 31, 39;
--haccent: 101, 113, 91;
--bg-image: url(https://i.postimg.cc/yNX71SPy/tybalt3.png);
}


  #td   .yew-image2 { 
    background-size: cover;
     background-position: -130px 20px;
     border-radius: 10px; 
  }

 #ya { 
 --hmain: 183, 65, 45; 
--haccent:218, 155, 99;
--bg-image: url(https://i.postimg.cc/Gh8rBfK2/yusuf.png);
} 

#ya   .yew-image2 { 
    background-size:500px;
     background-position: -170px 0px;
     border-radius: 10px; 
        transform: scaleX(-1)
}

 #ti {
--hmain: 109, 157, 194;
--haccent: 105, 164, 138;
--bg-image: url(https://i.postimg.cc/90z2YgjL/teddy.png);
}

  #ti  .yew-image2 { 
    background-size: cover;
     background-position: -85px 0px;
} 

 #wm {
--haccent: 224, 146, 33; 
--hmain:133, 160, 82;
--bg-image: url(https://i.postimg.cc/2yFx4hDS/moxley2.png);
}

  #wm  .yew-image2 { 
       background-size:cover;
     background-position: -155px 0px;
} 
